<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-AccountingApplications-20160817081011.mdf;Initial Catalog=aspnet-AccountingApplications-20160817081011;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="APAServices" connectionString="metadata=res://*/APATablesEntities.csdl|res://*/APATablesEntities.ssdl|res://*/APATablesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=APAServices;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APATables_ACCTEntities" connectionString="metadata=res://*/APATablesEntities.csdl|res://*/APATablesEntities.ssdl|res://*/APATablesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=APATables_ACCT;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="APALog" connectionString="metadata=res://*/APATablesEntities.csdl|res://*/APATablesEntities.ssdl|res://*/APATablesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=APALog;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!-- Data Migration -->
    <!--<add name="DEV" connectionString="Data Source=APADEVSQL11;Initial Catalog=IDM;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="Local" connectionString="Data Source=(local);Initial Catalog=IDM;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>